<html>
	<head>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<style>
		img { display: inline-block;
		vertical-align:bottom;
			}
		h1 { font-size: 45px}
		body { background-color:  #ffcc80
 }
		</style>
	</head>
	<body background-color="ffb84d">
		<center><h1>CUNY Calendar</h1>
		<h3>A web app that automically takes events from your blackboard and 
		<br>other CUNY websites and makes events in your Google Calendar.</h3>
		<h3>Login using your Google account. First time users will be prompted to to connect their 
		<br>CUNY accounts, returning users may change settings or request an update to their calendar.</h3>
		<form method="POST">
			<button class="pure-button pure-button-primary" type="submit" name="glogin">Log In With Google</button>
		</form></center>
	</body>
</html>