<html>
	<head>
	</head>
	<body>
		<h1>CUNY Calendar</h1>
		<h3>A web app that automically takes events from your blackboard and other CUNY websites
		<br>and makes events in your Google Calendar.</h3>
		<h3>Login using your Google account. First time users will be prompted to to connect
		<br>their CUNY accounts, returning users may change settings or request an update to their calendar.</h3>
		<form method="POST">
			<button type="submit" name="glogin">Log In With Google</button>
		</form>
	</body>
</html>