<html>
	<head>
	</head>
	<body>
		<h1>CUNY Calendar</h1>
		<h3>Welcome first time user! In order to register you, we need a first and last name to go by<br>
		and the credentials to your CUNYPortal and other thing accounts. Don't worry, your information is<br>
		safe with us! It is stored on a database and is only used to populate your calendar with events.<br>
		Your information is NEVER released.</h3>
		<form method="POST">
		<b>Personal Information</b><br>
		First Name <input type="text" name="fname"><br>
		Last Name <input type="text" name="lname"><br><br>
		
		<b>CUNY Portal Account Information</b><br>
		Username <input type="text" name="cpuser"><br>
		Password <input type="password" name="cppw"><br><br>

		<b>CUNY First Account Information</b><br>
		Username <input type="text" name="cfuser"><br>
		Password <input type="password" name="cfpw"><br><br>

		<button type="submit" name="register">Register</button>
		</form>
	</body>
</html>