<html>
	<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<style>
		img { display: inline-block;
		vertical-align:bottom;
			}
		h1 { font-size: 45px}
		body { background-color:  #ffcc80
 }
		</style>
	</head>
	<body>
	<center>
		<h1>CUNY Calendar</h1>
		<h3>Welcome first time user! In order to register you, we need a first and last name to<br>
		go by as well as the credentials to your CUNYPortal and CUNYFirst.<br></h3>
		<h2>Don't worry, your information is safe with us!<br></h2>
		<h3>It is stored on a database and is only used to populate your calendar with events.<br>
		Your information is NEVER released.</h3>
		<form class="pure-form pure-form-aligned" method="POST">
		<b>Personal Information</b><br>
		<div class="pure-control-group">
		First Name <input type="text" name="fname"><br> </div>
		<div class="pure-control-group">
		Last Name <input type="text" name="lname"><br><br></div>
		
		<b>CUNY Portal Account Information</b><br>
		<div class="pure-control-group">
		Username <input type="text" name="cpuser"><br></div>
		<div class="pure-control-group">
		Password <input type="password" name="cppw"><br><br></div>

		<b>CUNY First Account Information</b><br>
		<div class="pure-control-group">
		Username <input type="text" name="cfuser"><br></div>
		<div class="pure-control-group">
		Password <input type="password" name="cfpw"><br><br></div>

		<button class="pure-button pure-button-primary" type="submit" name="register">Register</button>
		</form>
	</center>
	</body>
</html>